<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="./static/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>File Uploaded successfully</title>
    <style>
        /* Custom CSS */
        body {
            background-color: #f8f9fa;
            
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5%;
        }

        .form-container {
            width: 90%;
            max-width: 400px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            color: #f8f9fa;
            
        }

        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f1f3f5;
        }

        .btn-submit {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            background-color: #7ddbea;
            color: #fff;
        }

        .btn-submit:hover {
            background-color: #afcb23;
        }
        .custom-color {
    color: #0df3e8;
}


    </style>
</head>

<body>
    {% include 'includes/navbar.html' %}
    <h1 id="heading" class="mb-4 text-center text-color" style="font-size: 20px; color: #f8f9fa;">Please Enter the following Details
    </h1>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12">
                <form id="enterDetailsForm" method="POST" action="/save_details">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- Column 1 -->
                            <div class="form-element">
                                <!-- Type -->
                                <label for="type" style="display: block;">Type:</label>
                                <select id="type" name="type" style="width: 150px; display: block;">
                                    <option value="PHDB">PHDB</option>
                                    <option value="NBR">NBR</option>
                                </select>
                            </div>
                            <div class="form-element">
                                <!-- Vendor -->
                                <label for="vendor" style="display: block;">Vendor:</label>
                                <input type="text" id="vendor" name="vendor" style="width: 150px; display: block;" placeholder="e.g. UG, NG, ZM">
                            </div>
                            <div class="form-element">
                                <!-- Tech -->
                                <label for="tech" style="display: block;">Tech:</label>
                                <input type="text" id="tech" name="tech" style="width: 150px; display: block;" placeholder="e.g. 2G, 3G, 4G, 5G">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- Column 2 -->
                            <div class="form-group">
                                <!-- Site ID -->
                                <label for="site_id" class="text-color">Select Site ID:</label>
                                <select id="site_id" name="site_id">
                                    {% for col_name in column_names %}
                                    <option value="{{ col_name }}">{{ col_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- Sector ID -->
                                <label for="sector_id" class="text-color">Select Sector ID:</label>
                                <select id="sector_id" name="sector_id">
                                    {% for col_name in column_names %}
                                    <option value="{{ col_name }}">{{ col_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- Column 3 -->
                            <div class="form-group">
                                <!-- Latitude -->
                                <label for="lat" class="text-color">Select LATITUDE:</label>
                                <select id="lat" name="lat">
                                    {% for col_name in column_names %}
                                    <option value="{{ col_name }}">{{ col_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- Longitude -->
                                <label for="long" class="text-color">Select LONGITUDE:</label>
                                <select id="long" name="long">
                                    {% for col_name in column_names %}
                                    <option value="{{ col_name }}">{{ col_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- Column 4 -->
                            <div class="form-group">
                                <!-- Azimuth -->
                                <label for="azi" class="text-color">Select Azimuth:</label>
                                <select id="azi" name="azi">
                                    {% for col_name in column_names %}
                                    <option value="{{ col_name }}">{{ col_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- Bcch -->
                                <label for="bcch" class="text-color">Select Bcch:</label>
                                <select id="bcch" name="bcch">
                                    {% for col_name in column_names %}
                                    <option value="{{ col_name }}">{{ col_name }}</option>
                                    {% endfor %}
                                </select><br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
                    <!-- <button type="submit" class="btn btn-primary btn-submit text-color">Submit</button> -->
                    <button type="submit" class="btn btn-primary btn-submit text-color"
                        style="color: black;">Submit</button>
                </form>

            </div>
            <div id="successMessage" class="alert alert-success" style="display: none;">
                File Uploaded Successfully
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('#enterDetailsForm').submit(function (event) {
            // Prevent default form submission
            event.preventDefault();

            // Serialize form data
            var formData = $(this).serialize();

            // Submit form data using AJAX
            $.ajax({
                type: 'POST',
                url: '/save_details',
                data: formData,
                success: function (response) {
                    // Show success message
                    $('#successMessage').show();

                    // Optional: You can hide the form if needed
                    $('#enterDetailsForm').hide();
                    $('#heading').hide();
                },
                error: function (error) {
                    // Handle errors if any
                    console.error('Error:', error);
                }
            });
        });
    });
</script>

</html>