<!-- <header> -->
<!-- <a href="/"
      ><img src="./static/assets/aconnectlogo.jpg" class="logo itemleft" alt="site_logo"
    /></a>
    <nav class="itemcentre">
      <ul class="nav_links"> -->
<!-- <li><a href="#" id="uploadButton">UPLOAD FILE</a></li> -->
<!-- <li><a href="/plan_bcch">BCCH ANALYSIS</a></li>
        <li><a href="/generate_map">MAP GENERATOR</a></li>
        <li><a href="/plan_nbr">NBR PLANNING</a></li>
        <li><a href="/list_files">FILE LIST</a></li>
      </ul>
    </nav> -->
<!-- <a href="./login.html" target="_blank" class="navbar-link">Login</a> -->
<!-- </header> -->

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<style>
  .navbar {
    background: rgba(255, 255, 255, 0.23);
    /* white with 50% opacity */
    /* border-bottom: 1px solid white; */
    color: white;
  }

  .navbar .nav-link {
    color: rgb(247, 244, 244);
  }

  .navbar .navbar-brand {
    color: rgb(249, 248, 248);
  }

  .nav-link {
    color: white !important;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="nbr_index"><b>GeoLytics</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">DASHBOARD</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          ANALYSIS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/plan_bcch">BCCH</a>
          <a class="dropdown-item" href="/plan_PCI">PCI</a>
          <a class="dropdown-item" href="/plan_PSC">PSC</a>
        </div></li>
      <li class="nav-item">
        <a class="nav-link" href="/generate_map">INTERACTIVE MAPS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/plan_nbr">NBR PLANNING</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/list_files">FILE LIST</a>
      </li> -->

      
    </ul>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>